<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
<add input="{HTTP_HOST}" pattern="^www\.keatingtractor\.com$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="\.hdev$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="\.hstg$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="stg\." negate="true" />
                    </conditions>
<action type="Redirect" url="https://www.keatingtractor.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>